.news {
  background-color: #cdcdcd;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 80px;
}
.news__title {
  font-size: 48px;
  color: #252222;
  font-family: "Bebas Neue", cursive;
  padding-top: 20px;
  font-weight: normal;
}
.flex__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
.block-1 {
  max-width: 460px;
}
.block-1__img {
  max-width: 100%;
  border-radius: 5px;

}
.block-1__flexbox {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 420px) {
    flex-direction: column;
    gap: 30px;
  }
}
.blcok-1__date {
  font-size: 11px;
  color: #fffefe;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  background-color: #59a386;
  padding: 5px 30px;
  @media screen and (max-width: 420px) {
    max-width: 200px;
    margin: 0 auto;
    padding: 5px 30px;
  }
}
.block-1__fashion {
  font-size: 12px;
  line-height: 21px;
  color: #e74c3c;
  font-weight: 600;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
}
.tag {
  margin-right: 5px;
}
.block-1__text {
  font-size: 16px;
  line-height: 21px;
  color: #59a386;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  @media screen and (max-width: 520px) {
    font-size: 13px;
  }
}
.block-1__info {
  font-size: 14px;
  line-height: 21px;
  color: #666767;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.block-1__button {
  font-size: 14px;
  color: #e2534b;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  text-align: right;
  margin-left: 345px;
  background-color: transparent;
  border: transparent;
  @media screen and (max-width: 520px) {
    margin-left: 245px;
  }
  @media screen and (max-width: 390px) {
    margin-left: 145px;
  }
}
.block-2 {
  max-width: 400px;
  text-align: left;
}
.block-2__tags {
  font-size: 18px;
  line-height: 20px;
  color: #59a386;
  font-family: "Bebas Neue", cursive;
}
.block-2__button {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  background-color: #59a386;
  padding: 5px 10px;
  border: transparent;
  margin-right: 10px;
  margin-top: 10px;
}
.block-2__button--red {
  background-color: #e2534b;
}
.block-2__blog {
  margin-top: 60px;
}
.block-2__font {
  font-size: 20px;
  color: #818181;
  font-weight: 300;
  font-style: italic;
  font-family: "Open Sans";
}
.block-2__flex {
  margin-top: 20px;
}
.block-2__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.block-2__info {
  font-size: 13px;
  color: #252222;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.block-2__number {
  font-size: 13px;
  color: #e2534b;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.block-2__img {
  width: 70px;
  height: 70px;
  border-radius:5px;
}
.companys {
  background-color: #bebebe;
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
.companys__images {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  flex-flow: wrap;
  @media screen and (max-width: 1100px) {
  }
}
.companys__img {
  max-width: 100%;
  
}
